[Unit]
Description=ISUBATA
After=network.target

[Service]
Type=simple
ExecStart=/home/isucon/isubata/webapp/go/run.sh
#ExecReload=/usr/sbin/httpd $OPTIONS -k graceful
#ExecStop=/bin/kill -WINCH ${MAINPID}
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
